  <!-- Html Head -->
  <%- include('./partials/head') %>
    </head>
  <!-- End of Html Head -->
  <body>
    <!-- Navigation -->
    <%- include('./partials/navigation') %>

    <!-- Main Content -->
    <main>
      <!-- Hero Section -->
      <section class="hero">
        <div class="container index__container">
          <img src="/images/404.jpg" alt="page not found" class="get404">
        </div>
      </section>
      <!-- End of Hero Section -->
    </main>
    <!-- End of Main Content -->

  </body>
</html>