*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'poppins', 'sans-serif';
  font-size: 1.6rem;
  color: #fff;
  background-color: rgb(19, 26, 34);
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

img{
  display: block;
  width: 100%;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10rem;
}

.logo__span{
  color: tomato;
}

.nav__list{
  display: flex;
}

.nav__link{
  margin-right: 4rem;
  position: relative;
}

.nav__link::after{
  content: '';
  width: 100%;
  height: 0.14rem;
  background-color: tomato;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.nav__link:hover.nav__link::after{
  transform: scaleX(1);
}

.nav__link:hover{
  color: tomato;
  transition: all 0.2s ease-in-out;
}

.nav__link.active{
  color: tomato;
}

.form__actions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.btn{
  border: none;
  background: tomato;
  padding: 1rem 2rem;
  cursor: pointer;
  color: inherit;
  letter-spacing: 0.14rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border: 1px solid tomato;
  text-align: center;
  font-size: inherit;
  height: 100%;
}

.card__actions{
  padding: 0 2rem;
}

.btn:hover{
  background: transparent;
  color: tomato;
}