  <!-- Html Head -->
  <%- include('../partials/head') %>
    </head>
  <!-- End of Html Head -->
  <body>
    <!-- Navigation -->
    <%- include('../partials/navigation') %>

    <!-- Main Content -->
    <main>
      <!-- Hero Section -->
      <section class="hero">
        <div class="container">
          orders
        </div>
      </section>
      <!-- End of Hero Section -->
    </main>
    <!-- End of Main Content -->

  </body>
</html>